@page
@model CookingBakery.Pages.EventPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Events</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].UpdatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Post[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Post != null)
        {
            @foreach (var item in Model.Post)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        <img width="200" src="~/image/@item.ImageUrl" alt="event-banner" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UpdatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Category.Name)
                    </td>
                    <td>
                        <a asp-page="/Home/Details" asp-route-id="@item.PostId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.PostId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
@{
    var prevDisabled = !Model.Post.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.Post.HasNextPage ? "disabled" : "";

    <nav>
        <ul class="pagination justify-content-center pagination-lg">
            <li class="page-item btn-lg">
                <a asp-page="./Index"
               asp-route-pageIndex="@(Model.Post.PageIndex - 1)"
               class="btn btn-primary page-link @prevDisabled">
                    Previous
                </a>
            </li>

            <li class="page-item btn-lg" style="width: 156px">
                <a asp-page="./Index"
               asp-route-pageIndex="@(Model.Post.PageIndex + 1)"
               class="btn btn-primary page-link @nextDisabled">
                    Next
                </a>
            </li>
        </ul>
    </nav>
}
