@page
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers
@model CookingBakery.Pages.Home.Details

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"><img src="../image/@Model.Post.ImageUrl" class="img-responsive"></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h4 class="box-title mt-5">@Model.Post.Title</h4>
                    <p>@Model.Post.Description</p>
                    @if (Model.isLike == null)
                    {
                        <form asp-page-handler="like" method="post">
                            <input type="hidden" name="postId" value="@Model.Post.PostId" />

                            <button class="btn btn-default" style="font-size:48px;color:red">Like</button>

                        </form>


                    }
                    else
                    {
                        <form asp-page-handler="unlike" method="post">
                            <input type="hidden" name="postId" value="@Model.Post.PostId" />
                            <button class="btn btn-default" style="font-size:48px;color:red">Unlike</button>

                        </form>

                    }
                    <h2 class="mt-5">
                        @Model.Post.Reaction Likes
                    </h2>
                    <h3 class="box-title mt-5">Ingredients</h3>
                    <ul class="list-unstyled">
                        @foreach (var item in @Model.PostDetails)
                        {
                            <li>     - @item.Quantity @item.Product.Name</li>
                        }
                    </ul>
                </div>
            </div>
            <div class="row">
                <section class="gradient-custom w-100">
                    <div class="container my-5 py-5 w-100">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-12 col-lg-10 col-xl-8">
                                <div class="card">
                                    <div class="card-body p-4">
                                        <h4 class="text-center mb-4 pb-2">Comments</h4>

                                        <div class="row">
                                            <div class="col">
                                                @if (Model.Comments != null)
                                                {
                                                    @foreach (var parent in Model.Comments)
                                                    {
                                                        @if (parent.ParentId == null)
                                                        {
                                                            @*Father comment*@
                                                            <div class="d-flex flex-start">
                                                                <img class="rounded-circle shadow-1-strong me-3"
                                                         src="@parent.Author.Avatar" alt="avatar" width="65"
                                                         height="65" />
                                                                <div class="flex-grow-1 flex-shrink-1">
                                                                    <div>
                                                                        <div class="d-flex justify-content-between align-items-center">
                                                                            <p class="mb-1">
                                                                                @parent.Author.Name <span class="small">@parent.CreatedDate</span>
                                                                            </p>
                                                                            <form asp-page-handler="reply" method="post">
                                                                                <input type="hidden" name="postId" value="@Model.Post.PostId" />

                                                                                <input type="hidden" name="cmtId" value="@parent.CommentId" />
                                                                                <button class="btn btn-default">Reply</button>

                                                                            </form>
                                                                        </div>
                                                                        <p class="small mb-0">
                                                                            @parent.Content
                                                                        </p>
                                                                    </div>
                                                                    @foreach (var child in Model.Comments)
                                                                    {
                                                                        @if (child.ParentId.Equals(parent.CommentId))
                                                                        {
                                                                            @*Child comment*@
                                                                            <div class="d-flex flex-start mt-4">
                                                                                <a class="me-3" href="#">
                                                                                    <img class="rounded-circle shadow-1-strong"
                                                                     src="@child.Author.Avatar" alt="avatar"
                                                                     width="65" height="65" />
                                                                                </a>
                                                                                <div class="flex-grow-1 flex-shrink-1">
                                                                                    <div>
                                                                                        <div class="d-flex justify-content-between align-items-center">
                                                                                            <p class="mb-1">
                                                                                                @child.Author.Name <span class="small">@child.CreatedDate</span>
                                                                                            </p>
                                                                                        </div>
                                                                                        <p class="small mb-0">
                                                                                            @child.Content
                                                                                        </p>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                            @*Child comment*@
                                                                        }

                                                                    }




                                                                </div>
                                                            </div>
                                                            @*Father comment*@
                                                        }

                                                    }
                                                }





                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <div class="contact-form article-comment w-100">
                    @if (Model.ReplyComment != null)
                    {

                        <div>Reply to @Model.ReplyComment.Author.Name</div>

                        <form method="post" asp-page-handler="cancel">
                            <input type="hidden" name="postId" value="@Model.Post.PostId" />

                            <button>X</button>

                        </form>
                    }

                    <h4>Leave a comment</h4>
                    <form id="contact-form" method="POST" asp-page-handler="add">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea name="message" id="message" placeholder="Your message *" rows="4" class="form-control"></textarea>
                                    <input type="hidden" name="postId" value="@Model.Post.PostId" />
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="send">
                                    <button class="px-btn theme"><span>Submit</span> <i class="arrow"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>