@page
@model CookingBakery.Pages.Home.UserProfileModel
@{
}

<div class="container d-flex align-items-center justify-content-center" style="height: calc(100vh - 58px); ">
    <form method="post">
        <input type="hidden" asp-for="user.UserId" value="@Model.user.UserId" />
        <input type="hidden" asp-for="user.Avatar" value="@Model.user.Avatar" />
         <input type="hidden" asp-for="user.Role" value="@Model.user.Role" />
          <input type="hidden" asp-for="user.Email" value="@Model.user.Email" />
          <input type="hidden" asp-for="user.Password" value="@Model.user.Password" />
          <input type="hidden" asp-for="user.IsBlocked" value="@Model.user.IsBlocked" />
          <input type="hidden" asp-for="user.IsGoogleAuthenticate" value="@Model.user.IsGoogleAuthenticate" />

        <div class="shadow-sm p-3 user-info rounded border">
            <div class="row p-4">
                <div class="col-md-4 d-flex flex-column align-items-center justify-content-center">
                    <img src="@Model.user.Avatar" onerror="this.onerror=null;this.src = '../../image/default.png'" style="max-width: 200px; max-height: 200px" class="rounded-circle border shadow-sm"
                         alt="avatar" id="avatar-preview" />
                </div>
                <div class="col-md-8 pl-4 border-left">
                    <h4>
                        @Model.user.Name's information
                        <span class="badge badge-primary">@Model.user.Role</span>
                    </h4>
                    <div class="form-row gx-4">
                        <div class="form-group col-md-12" data-toggle="tooltip" data-placement="top" title="You cannot change your email!">
                            <label for="Email">Email</label>
                            <div class="form-control" id="email" readonly>@Model.user.Email</div>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Name">Name</label>
                            <input asp-for="@Model.user.Name" type="text" class="form-control" id="name" value="@Model.user.Name" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="Password">Password</label>
                            <input type="password" class="form-control" id="password" readonly value="thisisnotyourpassword" />
                        </div>
                        <div class="form-group col-md-6">
                            <label for="PhoneNumber">Phone number</label>
                            <input asp-for="@Model.user.PhoneNumber" type="tel" class="form-control" id="PhoneNumber" value="@Model.user.PhoneNumber" />
                        </div>
                        <div class="form-group col-md-3">
                            <label for="Status">Status</label>
                            @if (Model.user.IsBlocked != true)
                            {

                                <div class="d-flex align-items-center" style="gap: 8px; padding-top: 6px; color: #28a745;">
                                    <ion-icon name="shield-checkmark-outline"></ion-icon>
                                    Active
                                </div>
                            }
                            else
                            {
                                <div class="d-flex align-items-center" style="gap: 8px; padding-top: 6px; color: #dc3545!important;">
                                    <ion-icon name="close-circle-outline"></ion-icon>
                                    Deactivated
                                </div>
                            }
                        </div>
                        <div class="form-group col-md-3">
                            <label for="Status">Google Authenticate</label>
                            @if (Model.user.IsGoogleAuthenticate != true)
                            {
                                <div class="d-flex align-items-center" style="gap: 8px; padding-top: 6px; color: #dc3545!important;">
                                    <ion-icon name="close-circle-outline"></ion-icon>
                                    No
                                </div>
                            }
                            else
                            {
                                <div class="d-flex align-items-center" style="gap: 8px; padding-top: 6px; color: #28a745;">
                                    <ion-icon name="shield-checkmark-outline"></ion-icon>
                                    Yes
                                </div>
                            }
                        </div>
                        <div class="col-md-12 d-flex" style="gap: 8px;">
                            <button id="register" type="submit" class="btn btn-primary d-flex align-items-center" style="gap: 8px;">Save profile</button>
                            <a href="#" class="btn btn-light">Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

<script defer>
    var avatar_preview = document.getElementById('avatar-preview');
var avatar = document.getElementById('avatar');
    avatar.onchange = function() {
        var src = URL.createObjectURL(this.files[0]);
        avatar_preview.getAttribute('src') = src;
    }
</script>