@page
@model CookingBakery.Pages.UserPage.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.User[0].Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User[0].Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User[0].Avatar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User[0].IsBlocked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User[0].Role)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.User)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <img width="200" src="@item.Avatar" onerror="this.onerror=null;this.src = '../../image/default.png'" alt="user-avatar" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsBlocked)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.UserId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.UserId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.UserId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
@{
    var prevDisabled = !Model.User.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.User.HasNextPage ? "disabled" : "";

    <nav>
        <ul class="pagination justify-content-center pagination-lg">
            <li class="page-item btn-lg">
                <a asp-page="./Index"
               asp-route-pageIndex="@(Model.User.PageIndex - 1)"
               class="btn btn-primary page-link @prevDisabled">
                    Previous
                </a>
            </li>

            <li class="page-item btn-lg" style="width: 156px">
                <a asp-page="./Index"
               asp-route-pageIndex="@(Model.User.PageIndex + 1)"
               class="btn btn-primary page-link @nextDisabled">
                    Next
                </a>
            </li>
        </ul>
    </nav>
}